<%= javascript_include_tag Ckeditor.cdn_url %>
<article id="post-new">
	<div class="row">
		<div class="col s12 m11 l11">
			<div class="post-edit">
				<div class="main-container">
				  <%= form_for([@board, @post]) do |f| %>
            <div class="field" style="margin-bottom:20px;">
              <%= f.text_field :title, placeholder: "제목", style: "margin-bottom:15px;" %>
              <%= f.cktext_area :content, class: 'someclass', ckeditor: { language: 'ko'} %>
            </div>
            <div class="submit">
              <%= f.submit '작성완료', class: "btn-lightgreen" %>
            </div>
          <% end %>
				</div>
			</div>
		</div>
	</div>
</article>