<article class="row">
	<div class="col s12 m11 l11" id="mypage">
		<div class="row">
			<div class="col s12 m6 l6">
				<!--<div class='user-photo'>-->
				<% if @user.profile.url == nil %>
					<div class="user-photo" style="background-image: url(<%= image_url("profile.png") %>);"></div>
				<% else %>
					<div class="user-photo" style="background-image: url(<%= @user.profile.url %>);"></div>
				<% end %>
				<!--</div>-->
			</div>
			<div class="col s12 m6 l6">
				<div class="user-profile">
					<p>
						<img src="<%= image_url("person-1906a431cee225bba58e3ebd297b5b0794e6e6a355e3a347cf3d827f427e9120.png") %>" alt="Person 1906a431cee225bba58e3ebd297b5b0794e6e6a355e3a347cf3d827f427e9120"><a href="/home/contact"><%= @user.name %></a>
						<span class="univ"> | 서울과학기술대</span>
					</p>
					<p class="subtitle">멋사 포인트</p><br>
					<div class="user-photo" style="float:left">
					    <p style="text-align:center; font-size:47px;"><%= @point %></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m6 l6" style="width:100%">
				<div class="content-wrapper">
					<p class="subtitle">점수 로그</p>
					<div class="content-2 scrollbar">
						<% @user.points.reverse.each do |point| %>
							<div class="content-box" id="content-box<%= point.id %>">
									<p><%= point.reason %> [<b id="point<%=point.id%>"><%= point.point %></b>]</p>
								<% if ((@day-point.created_at)/86400).to_i < 7 %>
						      <p><%= ((@day-point.created_at)/86400).to_i %>일 전</p>
						    <% elsif ((@day-point.created_at)/(86400*7)).to_i < 4 %>
						      <p><%= ((@day-point.created_at)/(86400*7)).to_i %>주 전</p>
						    <% else %>
						      <p><%= ((@day-point.created_at)/(86400*30)).to_i %>달 전</p>
						    <% end %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col s12 m12 l12 edit-btn">
					<a class="default-orange-btn" href="/users/edit">
						<i class="fa fa-pencil"></i>
						회원정보수정
					</a>&nbsp;&nbsp;
					<a class="default-orange-btn" href="/home/mypage/<%= @user.id %>">
						<i class="fa fa-paper-plane-o"></i>
						내 정보 보기
					</a>
					<% if current_user.roles.find_by(name: "admin").nil? == false %>
					&nbsp;&nbsp;<a class="default-orange-btn" href="/home/pointmaker">
						<i class="fa fa-paper-plane-o"></i>
						포인트 만들기
					</a>
					<% end %>
			</div>
		</div>
	</div>
</article>
<script>
<% @user.points.each do |point| %>
    if ($("#point<%= point.id %>").text() > 0) {
        $("#content-box<%= point.id %>").css("background-color","#c4ecb4")
    } else if ($("#point<%= point.id %>").text() < 0) {
        $("#content-box<%= point.id %>").css("background-color","#ec9595") }
<% end %>
</script>