<%= javascript_include_tag Ckeditor.cdn_url %>
<article>
	<div class="row">
		<div class="col s12 m11 l11">
			<div id="submission-new">
				<div class="main-container">
					<h5 class="title">과제 제출하기 - 테마를 이용한 마이 페이지 만들기 </h5>
					<%= form_for([@assignment, @submission]) do |f| %>
  					<%= hidden_field_tag 'user_id', @user.id %>
            <%= hidden_field_tag 'assignment_id', @assignment.id %>
            <div class="submission-form">
              <%= f.text_field :herokuurl, placeholder: "heroku 사이트 주소" %>
            </div>
            <br>
            <div class="field">
              <%= f.text_field :giturl, placeholder: "GitHub URL" %>
            </div>
            <br>
            <div class="field">
              <label for="submission_과제 설명">과제 설명</label><br>
              <%= f.cktext_area :content, class: 'someclass', ckeditor: { language: 'ko'} %>
            </div>
            <br>
            <div class="field">
              <%= f.file_field :imagefile %>
            </div>
            <div class="submission-submit">
              <%= f.submit "제출하기", class:"btn-orange" %>
            </div>
          <% end %>
				</div>
			</div>
		</div>
	</div>
</article>